<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Eggspro</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="logo">
                <img src="https://th.bing.com/th/id/OIP.HDVS1Km5rDwq1il_D4ArfwHaFL?w=210&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Eggspro Logo">
                 <h1>Eggspro</h1>
            </div>
            
            <h2>Login</h2>
            <p>Login to access your account</p><br>
            
            <form id="loginForm" action="/login" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="username@gmail.com" required>
                    <label for="email">Email</label>
                </div>
                
                <div class="form-group">
                    <div class="password-input">
                        <input type="password" id="password" name="password" placeholder="password" required>
                        <label for="password">Password</label>
                        <button type="button" class="toggle-password">
                            <i class="eye-icon"></i>
                        </button>
                    </div>
                </div>
                
                <div class="form-options">
                    <label class="checkbox-container">
                        <input type="checkbox" name="remember">
                        <span class="checkmark"></span>
                        Remember me
                    </label>
                    <a href="/forgot-password" class="forgot-password">Forgot Password</a>
                </div>
                
                <button type="submit" class="btn-primary">Login</button>
            </form>
            
            <p class="signup-link">
                Don't have an account? <a href="/signup">Sign up</a>
            </p>
        </div>
        <div class="image-container">
            <div class="image-display">
                <img src="2.png" alt="Security Illustration" id="displayedImage">
    
            </div>
            <div class="image-selector">
                <input type="radio" id="image1" name="image-select" value="2.png" checked>
                <label for="image1"></label>
                
                <input type="radio" id="image2" name="image-select" value="https://th.bing.com/th/id/OIP.vxH3QLu7JSNbqdbT2VjZRwHaHa?w=200&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7">
                <label for="image2"></label>
                
                <input type="radio" id="image3" name="image-select" value="https://static.vecteezy.com/system/resources/thumbnails/017/266/185/small_2x/login-form-page-template-with-phone-for-app-development-smartphone-mockups-website-ui-elements-online-login-form-registration-user-profile-access-to-account-10-eps-vector.jpg">
                <label for="image3"></label>
            </div>
        </div>
    </div>
    <script src="/js/validation.js"></script>
    <script src="/js/imageSelector.js"></script>
</body>
</html>